<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      div {
        background-color: lightgrey;
        width: 300px;
        border: 1px inset darkgray;
        padding: 30px;
        margin: 20px;
        display: table-cell;
              

      }
    </style>
    
 

</head>
<body>
  
  {% for post in posts %}
  <div class = "step">

    
    <a href="{% url 'userallpost' post.user.id  %}">{{post.user}}</a>
    <h5>{{post.title}}</h5>
     {{post.user.id}}
    <p>{{post.body}}</p>
    <img src="{{post.image1.url}}" alt="img1" height="100px" width="100px">
    {% if post.image2 %}
    <img src="{{post.image2.url}}" alt="img2" height="100px" width="100px">
    {% endif %}
    {% if post.image3 %}
    <img src="{{post.image3.url}}" alt="img3" height="100px" width="100px" >
    {% endif %}
     
  </div>
  {% endfor %}



  
</body>
</html>
