<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        
        {% for data in datas %}
            <span>{{data.title}}</span>
            <span>{{data.description}}</span>
            {% for f  in  data.files %}
             <img class="card-img-top" src="{{f.resumes.url}}" alt="imgs" height="100px" width="100px">
            {% endfor %}    
        {% endfor %}
    </div>
</body>
</html>